<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lkp.numbercodeview">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".bottomsheet.BottomSheetNumberCodeViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Translucent"/>

    </application>

</manifest>
